<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torr Search</title>
    <link rel="stylesheet"  href= {{ url_for( 'static' , filename = 'style.css' )}}>
</head>
<body>
    <div class="up">
        <h1>Torr Search</h1>
        <div class="wrap">
            <form class="search" method="POST">
                <input type="text" class="searchTerm" placeholder="Search Torrent" name="query">
                <input type="submit" class="searchButton" value="">
                <img src="./static/search.png" class = "ico" alt="">
            </form>
            <p>Torrent searcher which scrape torrents from 1337x.
                click on the magnet links for copying magnet link.
            </p>
            <div class="msg">
                {{ msg }}
            </div>
        </div>
    </div>
    <div class="res">
        {% for item in res%}
            <div class="tor">
                <div class="title">{{ item['title'] }}</div>
                <div class="seeders">Seeders: <span> {{ item['seeders'] }} </span></div>
                <div class="leeches">Leeches: <span> {{ item['leeches'] }} </span></div>
                <input type='text' class="magnets-inp" value={{ item['magnet_url'] }} readonly>
            </div>
        {% endfor %}
    </div>
</body>
    <script src={{ url_for('static' ,filename = 'index.js')}}>
    </script>
</html>